@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Inter';
  font-style: normal;
  line-height: 1;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
}

#root {
  min-height: 100%;
  background: $light-grey;
  @include flex-column-center;
}
