@import '../../styles/variables.scss';

.infoContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  padding: 12px 0;
  max-height: 700px;

  .userAvatar {
    border-radius: 50%;
    width: 280px;
    margin-bottom: 29px;
  }

  h3 {
    @include text26;
    margin-bottom: 13px;
  }

  a {
    @include text18;
    color: $blue;
    margin-bottom: 34px;
  }

  .folowerContainer {
    display: flex;
    justify-content: space-between;

    .followers {
      @include text16;
      max-width: 150px;
      display: flex;
      img {
        height: 20px;
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 800px) {
  .infoContainer {
    max-width: 270px;
    @include text14;
    @include flex-column-center;

    a {
      margin-bottom: 15px;
    }

    .userAvatar {
      width: 200px;
    }

    .folowerContainer {
      @include flex-column-center;

      .followers {
        @include text10;
        @include flex-align-center;
        max-width: 150px;
        img {
          margin-right: 8px;
        }
      }
    }

    h3 {
      @include text22;
      font-weight: bold;
    }
  }
}

@media (max-width: 650px) {
  .infoContainer {
    @include text10;

    h3 {
      @include text16;
      font-weight: bold;
    }
  }
}

@media (max-width: 500px) {
  .infoContainer {
    max-width: 250px;
    @include text10;

    .userAvatar {
      width: 150px;
      margin-bottom: 10px;
    }

    a {
      margin-bottom: 10px;
    }

    h3 {
      @include text16;
      font-weight: bold;
    }
  }
}

@media (max-width: 400px) {
  .infoContainer {
    padding-bottom: 0;
    .userAvatar {
      margin-bottom: 5px;
    }

    a {
      margin-bottom: 5px;
    }

    h3 {
      @include text16;
      font-weight: bold;
    }
  }
} ;
