@import '../../styles/variables.scss';

.itemRepo {
  @include text16;
  list-style: none;
  padding: 24px 30px;
  background-color: #fff;
  margin-bottom: 24px;

  h4 {
    @include text24;
    color: $blue;
    margin-bottom: 16px;
  }
}

@media (max-width: 800px) {
  .itemRepo {
    @include text14;
    padding: 18px 15px;
    h4 {
      @include text22;
    }
  }
}

@media (max-width: 650px) {
  .itemRepo {
    @include text10;
    padding: 10px 10px;

    h4 {
      @include text16;
    }
  }
}

@media (max-width: 500px) {
  .itemRepo {
    margin-bottom: 7px;
    padding: 7px 7px;

    h4 {
      @include text16;
      margin-bottom: 7px;
    }
  }
} ;
