@import '../../styles/variables.scss';

.emptyStatePage {
  @include flex-align-center;
  flex-direction: column;
  height: 100%;

  .notFound {
    @include flex-column-center-center;
  }
  .container {
    @include container;
    padding: 100px 56px 28px 56px;
    height: 100%;
    display: flex;
    gap: 0 79px;

    img {
      margin-bottom: 41px;
    }

    h1 {
      @include text22;
      text-align: center;
      color: $grey;
      width: 210px;
    }
  }
}
