@import '../../styles/variables.scss';

.header {
  height: 72px;
  background: $blue;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;

  .container {
    @include container;
    padding: 16px 41px;
    display: flex;
    gap: 0 22px;
  }
}

@media (max-width: 800px) {
  .header {
    .container {
      padding: 16px 13px;
      gap: 0 5px;
    }
  }
}
