@import '../../styles/variables.scss';

.notFoundPage {
  @include flex-align-center;
  flex-direction: column;
  height: 100%;

  .container {
    @include container;
    @include flex-column-center-center;
    @include text22;
    padding: 10px 56px 28px 56px;
    height: 100%;

    h2 {
      @include text22;
      text-align: center;
      color: $grey;
      margin-bottom: 30px;
    }

    p {
      color: $grey;
    }

    a {
      color: $blue;
    }
  }
}
